# Flask
FLASK_SECRET_KEY=your-flask-secret-key
FLASK_DEBUG=True

# AWS Region
AWS_REGION=ap-south-1
AWS_DEFAULT_REGION=ap-south-1

# AWS Credentials
AWS_ACCESS_KEY_ID=your-access-key-id
AWS_SECRET_ACCESS_KEY=your-secret-access-key

# AWS Cognito
COGNITO_USER_POOL_ID=your-user-pool-id
COGNITO_APP_CLIENT_ID=your-app-client-id
COGNITO_DOMAIN=

# DynamoDB Table Names
DYNAMODB_COMPLAINTS_TABLE=campus-hostel-complaints
DYNAMODB_ANNOUNCEMENTS_TABLE=campus-hostel-announcements
DYNAMODB_MESS_MENU_TABLE=campus-hostel-mess-menu